@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700&display=swap');
@import url("https://use.typekit.net/bau0tus.css");
/* * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
} */
h1 {
    font-family: "modesto-condensed", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(166, 128, 67, 1);
    font-size: 105px;
}

h2 {
    font-family: "modesto-condensed", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(166, 128, 67, 1);
    font-size: 65px;
    margin: 0px;
    padding: 0;
}

h3 {
    font-family: "modesto-condensed", serif;
    font-weight: 400;
    font-style: normal;
    color:rgba(233, 238, 238, 1);
    font-size: 65px; 
    margin: 0;
}

h4 {
    font-family: "modesto-condensed", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(166, 128, 67, 1);
    font-size: 40px;
    margin: 0px;
    padding: 0;
}

h5 {
  font-family: "modesto-condensed", serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(166, 128, 67, 1);
  font-size: 140px;
  margin: 0px;
  padding: 0;
}

p {
    font-family: 'Fira Sans Condensed', sans-serif;
    color:rgba(40, 49, 49, 1);
    font-size: 14px;
    line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background-color: rgba(233, 238, 238, 1);
}

.header {
    background-image: url(images/header.jpg);
    height: 91.5vh;
    background-size: cover;
    position: relative;
}

.header-content {
    position: absolute;
    bottom: -20px;
    right: 40px; 
}

.header-caption {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: rgba(233, 238, 238, 1);
    position: absolute;
    bottom: 30px;
    right: 0px;
}

.header-logo {
  font-family: "modesto-condensed", serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(166, 128, 67, 1);
  font-size: 105px;
  padding-bottom: 0.55em;
}


.logo {
    font-family: "modesto-condensed", serif;
    color: rgba(166, 128, 67, 1);
    font-size: 67px;
    transition-timing-function: ease-in;
    transition: 2s;
}

.logo:hover {
  color: rgba(40, 49, 49, 1);
  transition-timing-function: ease-out;
  transition: 2s;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192, 201, 201, 1);
    padding-left: 2em;
    padding-right: 2em;
}

  nav li {
    display: inline-block;
}

  nav a {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: rgba(40, 49, 49, 1);
    padding: 11px;
    font-weight: bold;
    font-size: 14px;
    transition-timing-function: ease-in;
    transition: 0.5s;
}

nav a:hover {
    color: rgba(166, 128, 67, 1);
    transition-timing-function: ease-out;
    transition: 0.5s;
}


.who-is {
  display: flex;
  margin-top: 0px;
  padding: 2em;
  gap: 2em;
  background-color: rgba(233, 238, 238, 1);

}

.who-is-photo {
   flex: 2;
}

.who-is-photo img {
    width: 100%;
}

.who-is-content {
    flex: 3;
    padding-top: 4em;
}

button {
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 25px;
    border: none;
    background: rgba(192, 201, 201, 1);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    color:rgba(40, 49, 49, 1);
    transition-timing-function: ease-in;
    transition: 0.5s;
  }

  button:hover {
    background:rgba(166, 128, 67, 1);
    color:rgba(233, 238, 238, 1);
    transition-timing-function: ease-out;
    transition: 0.5s;
  }

  /* .button {
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 25px;
    border: none;
    background: rgba(192, 201, 201, 1);
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color:rgba(40, 49, 49, 1);
    transition-timing-function: ease-in;
    transition: 0.5s;
  }

  .button:hover {
    background:rgba(166, 128, 67, 1);
    color:rgba(233, 238, 238, 1);
    transition-timing-function: ease-out;
    transition: 0.5s;
  } */


  .career-timeline-title {
    background:rgba(166, 128, 67, 1);
    padding-left: 2em;
  }

  .timeline-container {
    background:rgba(192, 201, 201, 1);
    padding: 2em;
  }

  .formative-container-section {
    display: flex;
    gap: 1em;
    margin-bottom: 2.5em;
  }

  .formative-container-section > * {
    flex: 1
  }

  .timeline-container-section {
    display: flex;
    margin-bottom: 2.5em;
  }

  .timeline-container-section > * {
    flex: 1
  }

  .card-with-photo {
    display: flex;
  }

  .formative-photo {
   width: 100px;
   flex: 1;
  }

  .formative-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .formative-years-card {
    padding: 1em;
    padding-top: 2em;
    flex: 1;
    background-color: rgba(233, 238, 238, 1);
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .breakout-photo img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .breakout-album-card {
    flex: .5;
    padding: 1em;
    padding-top: 1.5em;
    width: 324px;
    background-color: rgba(233, 238, 238, 1);
  }

  .mellon-collie-photo img {
    width: 100%;
    height: 100%;
  }

  .mellon-collie-card {
    padding: 1em;
    background-color: rgba(233, 238, 238, 1);
    margin-bottom: 2.5em;
  }

  .adore-photo img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .adore-card {
    flex:.6;
    padding: 1em;
    padding-top: 2em;
    background-color: rgba(233, 238, 238, 1);
  }

  .end-of-era-photo img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .end-of-era-card {
    flex: .5;
    padding: 1em;
    background-color: rgba(233, 238, 238, 1);
    padding-top: 2em;
  }

  .return-photo img {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .return-card {
    flex: .5;
    padding: 1em;
    padding-top: 1.5em;
    background-color: rgba(233, 238, 238, 1); 
  }

  .reunion-container-section {
    display: flex;
    gap: 1em;
    margin-bottom: 2.5em;
  }

  .reunion-container-section > * {
    flex: 1
  }

  .card-with-photo {
    display: flex;
  }

  .reunion-photo {
   width: 100px;
   flex: 1;
  }

  .reunion-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .reunion-card {
    padding: 1em;
    padding-top: 2em;
    flex: 2;
    background-color: rgba(233, 238, 238, 1);
  }

  .present-day-photo img {
    margin-top: 40px;
    width: 100%;
    height: 100%;
  }

  .present-day-card {
    padding: 1em;
    background-color: rgba(233, 238, 238, 1);
  }

  .listen-to-music {
    padding: 2em;
  }

  .listen-to-music-container {
    display: flex;
    gap: 2em;
  }

  .listen-content-left {
    flex: 1;
    padding-top: 3em;
  }

  .listen-content-right {
    flex: 1.5;
  }
  
  .footer {
    background-color: rgba(192, 201, 201, 1);
    padding-top: 2em;
    display: flex;
  }

  .billy-corgan-footer-title {
    padding-left: 2em;
  }

  links a {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: rgba(40, 49, 49, 1);
    font-weight: bold;
    font-size: 14px;
     transition-timing-function: ease-in;
    transition: 0.5s;
  }

  links a:hover {
    color: rgba(166, 128, 67, 1);
    transition-timing-function: ease-out;
    transition: 0.5s;
  }

  links li {
    list-style-type: none;
    padding: 0.1em;
  }

  .footer-content-left {
    flex: 2;
  }

  wpc a {
    font-family: "modesto-condensed", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(166, 128, 67, 1);
    font-size: 140px;
    margin: 0px;
    padding: 0;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: 2s;
  }

  wpc a:hover {
    color: rgba(40, 49, 49, 1);
    transition-timing-function: ease-out;
    transition: 2s;
  }

  .footer-logo {
    padding-top: 2em;
    flex: 1.8;
  }

  .copyright {
    padding-left: 2em;
    padding-top: 1.5em;
  }

  .footer-content-right {
    flex: 0.8;
    padding-top: 3em;
    padding-right: 1.9em;
    font-weight: bold;
  }

  .social-icons {
    justify-content: space-between;
    align-items: center;
  }

  .social-icons a {
    color: rgba(40, 49, 49, 1);
    font-size: 1.4em;
    text-decoration: none;
    transition-timing-function: ease-in;
    transition: 0.5s;
  }

  .social-icons li {
    display: inline-block;
    padding-top: 2em;
    margin-right: 1px;
  }

  .social-icons a:hover {
    color: rgba(166, 128, 67, 1);
    transition-timing-function: ease-out;
    transition: 0.5s;
  }


  input[type=email] {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    padding-right: 4.5em;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgba(233, 238, 238, 1);
    border: none;
  }





  

  


